<main class="form-signin w-100 m-auto">
  <form [formGroup]="form">
    <h1 class="h3 mb-3 fw-normal text-center">Bitte einloggen</h1>
    <div class="form-floating">
      <input type="email" formControlName="username" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Benutzername</label>
    </div>
    <div class="form-floating">
      <input type="password" formControlName="password" class="form-control" id="floatingPassword" placeholder="Passwort">
      <label for="floatingPassword">Passwort</label>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit" (click)="login()">Einloggen</button>
  </form>
</main>
